{% extends "base.html" %}
{% block body %}
{% load static %}

  <!-- about section -->
<br>
  <section class="about_section layout_padding">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              About <br>
              Taxi Company
            </h2>
            <p>
              Taxi service is an important Transportation Option that meets a variety of needs, including Basic Mobility in emergencies, general transportation for non-drivers, and mobility for Tourists and visitors.  

            </p>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/e.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end about section -->

       
  



  


{% endblock body %}