{% extends "base.html" %}
{% block body %}
{% load static %}

<!-- contact section -->

<section class="contact_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Any Problems <br>
        Any Questions
      </h2>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5  offset-md-1">
        <div class="contact_form">
          <h4>
            Get In touch
          </h4>
          <form action="{% url 'sendmail_contact' %}" method="post">
            {% csrf_token %}
            <input type="text" placeholder="Name" name="name" required pattern="[a-zA-Z\s]+"
              title="Please enter a valid characters, only letters and spaces)" />
            <input type="text" placeholder="Phone Number" name="mobail" required pattern="[0-9]{10}"
              title="Please enter a 10-digit mobile number" />
            <input type="text" placeholder="Message" class="message_input" name="message" required />
            <button>Send</button>
          </form>
          {% for i in messages %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Message : </strong>{{ i }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col-md-6 px-0">
        <div class="img-box">
          <img src="{% static 'images/f.png' %}" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end contact section -->






{% endblock body %}