<section class="service_section layout_padding">
  <div class="container">
    <div class="heading_container">
      <h2>
        Our <br>
        Taxi Services
      </h2>
    </div>
    <div class="service_container">
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/delivery-man.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Private Driver
          </h5>
          {% comment %} <p>
            Lorem ipsum dolor sit ame
          </p>
          <a href="">
            Read More
          </a> {% endcomment %}
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/airplane.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Airport Transfer
          </h5>
          {% comment %} <p>
            Lorem ipsum dolor sit ame
          </p>
          <a href="">
            Read More
          </a> {% endcomment %}
        </div>
      </div>
      <div class="box">
        <div class="img-box">
          <img src="{% static 'images/backpack.png' %}" alt="">
        </div>
        <div class="detail-box">
          <h5>
            Luggage Transfer
          </h5>
          {% comment %} <p>
            Lorem ipsum dolor sit ame
          </p>
          <a href="">
            Read More
          </a> {% endcomment %}
        </div>
      </div>
    </div>
  </div>
</section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-4 col-md-5 offset-lg-2 offset-md-1">
          <div class="detail-box">
            <h2>
              About <br>
              Taxi Company
            </h2>
            <p>
              Taxi service is an important Transportation Option that meets a variety of needs, including Basic Mobility in emergencies, general transportation for non-drivers, and mobility for Tourists and visitors.  

            </p>
            
          </div>
        </div>
        <div class="col-md-6">
          <div class="img-box">
            <img src="{% static 'images/e.png' %}" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>