{% extends "base.html" %}
{% load static %}
{% block body %}


  <!-- service section -->

  <section class="service_section layout_padding">
    <div class="container">
      <div class="service_heading_container">
        <h2>
          Our <br>
          Taxi Services
        </h2>
      </div>

      <div class="service_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/delivery-man.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Private Driver
            </h5>
            <p>
              The primary function of a Personal<br>
               Driver is to provide transportation<br> 
                for passengers from one location to<br> 
                 another. It is essential that they<br> 
                  drive their passengers in a safe,<br> 
                  comfortable and professional manner<br> 
                   while simultaneously keeping track<br> 
                    of navigation, traffic and timing. <br> 
            </p>
           
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/airplane.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Airport Transfer
            </h5>
            <p>
              Airport transfers are pre-booked<br>
              methods of transport for picking-up<br>
              travellers from an airport and dropping <br>
              them off at their chosen destination, <br>
              whether it be accommodation, cruise <br>
              port or another local point of interest,<br>
              for a set price.
            </p>
            
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'images/backpack.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Luggage Transfer
            </h5>
            <p>
              Luggage delivery services provide<br>
              a door-to-door luggage delivery service,<br>
              where your luggage or sports equipment <br>
              is picked-up from your home, office or <br>
              any physical address and delivered to <br>
              your hotel, resort or any other physical <br>
              address. Luggage allowances are decreasing<br> 
              and excess luggage fees increasing.
            </p>
           
          </div>
          
        </div>
      </div>
    </div>
  </section>


  <!-- end service section -->

{% endblock body %}